@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Brush+Script&display=swap');

.header{
	width: 100%;
    border-bottom: 1px solid #d4d2cf;	
}

.header_first_div{
	width: 1024px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
	font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: 'Nanum Brush Script', cursive;
}
.header_button {
    height: 40px;
    width:100px;
    padding: 10px 16px;
    background-color: #48BF91;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Jua', sans-serif;
	font-family: 'Nanum Brush Script', cursive;
}

.header_login_button{
	height: 40px;
    width:100px;
	padding: 10px 16px;
	background-color: white;
	border: medium solid #48BF91;
	border-radius: 8px;
	font-family: 'Jua', sans-serif;
	font-family: 'Nanum Brush Script', cursive;
}

.header_login_button:hover{
	background-color: #CFE6D6;
}

.header_button:hover{
	background-color: #63C79F;
}

.searachBody{
	width: 100%;
    height: 350px;
    background-color: #000;
    margin-bottom: 50px;
    color: #fff;
}

.searachBody_inDiv{
	padding: 60px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_form{
	width: 600px;
    border-radius: 9999px;
    background-color: #fff;
    height: 58px;
    padding: 15px;
    margin: 0 auto 40px;
}

.search_input{
	width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.input_under{
	display: flex;
    align-items: center;
    margin-top: 40px;
}

.input_text{
	cursor: pointer;
    border: 1px solid hsla(0,0%,100%,.6);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 20px;
    font-size: 14px;
    margin-right: 8px;
}

.uploadModalMidDiv{
	/* position: absolute; */
    background-color: white;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 12px;
    animation: _1ikj1x90 .4s ease-in-out;
}

.uploadModalMidDiv_login{
	/* position: absolute; */
    background-color: white;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 12px;
    animation: _1ikj1x90 .4s ease-in-out;
    margin-top: 20px;
    margin-left: 250px;
}

.uploadModalSmallDiv{
	padding: 70px 60px;
    height: 100%;
}

.pictureUplode{
	width: 380px;
    height: 300px;
    border: 1px dashed #ccc;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ccc;
    font-size: 60px;
}

.uploadImg{
	width: 380px;
    height: 300px;
	
}
.fileUpload{
	display: none;
}

.tagDiv{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.tagInput{
	border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    width: 100%;
    height: 20px;
}

.uploadButton_div{
	display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.uploadButton{
	width: 50%;
    height: 40px;
    background-color: #48bf91;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;
}

.uploadButton_in{
	width: 50%;
    height: 40px;
    background-color: #48bf91;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}

.tableBigDiv{
	width: 1024px;
    margin: 40px auto 0;
    margin-bottom: 80px;
}

.tableMiddleDiv{
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.tablesmallDiv{
	width: 240px;
    height: 180px;
    background-color: #d6d2d2;
    cursor: pointer;
    overflow: hidden;
}

.picture{
	width: 100%;
    height:100%;
}

.tablesmallDiv:hover {
	transform: scale(1.2);
	 overflow: hidden;
}

.download{
	margin-left: 1100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detaillImg{
	width: 600px;
    height: 500px;
    margin-left: 30%;
    padding:10px;
    object-fit: cover;
    border: 2px solid gray;
}


.nicknameDlt{
	margin-left: 1000px;
	margin-bottom: 10px;
}

.tagList{
	background-color: #BDBDBD;
    border-radius: 6px;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}

.tagBigDiv{
	display: flex;
	margin-top: 10px;
	margin-left:450px;
}

.jjalExplanation{
	background-color: #BDBDBD;
    margin-top: 10px;
    margin-left: 460px;
    width: 600px;
    height: 60px;
    margin-bottom: 20px;
    border: 2px solid black;
}
/* ----------로그인 후 드롭 다운------------------------------------- */
.loginOK-dropdown{
  position : relative;
  display : inline-block;
}

.loginOK-dropdown-content{
  display : none;
  position : absolute;
  z-index : 9999; /*다른 요소들보다 앞에 배치*/
  width: 70px;
  text-align: center;
  right: -10px;
  background-color: #48BF91;
}

.loginOK-dropdown-content a{
  display : block;
  color: white;
  padding: 5px 0px 5px 0px;
}

.loginOK-dropdown:hover .loginOK-dropdown-content {
  display: block;
  
}

.loginOK-dropdown-content a:hover{
	background-color:black;
}


a{
	text-decoration: none;
}


/* ---------회원가입 페이지 */

.joinForm {
  position:absolute;
  width:400px;
  height:400px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.joinForm h2 {
  text-align: center;
  margin: 30px;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}


.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.nickname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#48BF91,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}

/* ----------------loginPage */
.loginPricture{
	padding-top: 70px;
	padding-left: 70px;
	width: 450px;
	height: 450px;
	border-radius: 60%;
}

.login_id{
	display: flex;
	margin-top: 50px;
	text-align: center;
}

.loginIDText{
	font-size: 20px;
}

.loginIDInput{
	width: 250px;
	height: 20px;
}

.loginPWInput{
	width: 250px;
	height: 20px;
}

.result{
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

.loginBtn{
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 60px;
}

.LOGINButton{
	width: 65%;
    height: 40px;
    background-color: #48bf91;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;}
